.home-container {
    width: 100vw;
    height: 100vh;
    background: #9bbbde;
    display: flex;
}

.home-header1 {
    background: #9bbbde;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.home-header1 > h1 {
    margin: 0;
    padding: 1rem;

    font-size: 2rem;
    color: white;
}

.home-header2 {
    background: #9bbbde;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.home-header2 > h1 {
    margin: 0;

    font-size: 2.5rem;
    color: white;
}

.home-header2 > h2 {
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 1rem;

    font-size: 5em;
    color: white;
}

.home-header3 {
    background: #9bbbde;

    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20rem;
}

.home-header3 > h1 {
    margin: 0;

    font-size: 2em;
    color: white;
}

.start-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
}

.start-container > form {
    font-size: 3em;
    padding-top: 24rem;
    padding-right: 1rem;
}

.start-container > button {
    font-size: 3em;
}

.start-container > button:hover {
    background: #8ba1b4;
    cursor: pointer;
}

.start-container > button:active {
    background:#606775;
}