body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav {
  background-color: rgb(43, 96, 126);
  overflow: hidden;
}

.topnav ul li {
  text-align: center;
  display: inline;
  flex: 1;

  font-size: 1rem;
  list-style-type: none;
}

.topnav li:hover {
  background-color:#9bbbde;
}

ul li a:active {
  background-color: #a5421b83;
}

ul {
  margin: 0;
  padding: 0rem;
  display: flex;
}

.topnav ul a{
  color: white;
  text-decoration: none;
}

.navlink {
  padding: 1rem;
}